.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.contact-title {
  font-size: 2rem;
  font-weight: 600;
}

.form-container {
  display: flex;
  border: 3px solid rgb(200, 200, 200);
  border-radius: 25px;
  width: 100%;
  max-width: 600px;
  padding: 10px;
  background-color: rgb(25, 25, 25);
}

@media screen and (min-width: 450px) {
  .form-container {
    padding: 25px;
  }
}
